<link rel="stylesheet" href="../css/estilos.css">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


<div class="container-fluid w-75 mt-5 justify-content-center ">
    <div class="card">

        <form action="#" method="post" target="_blank">
            <h1 class="bg-secondary p-2 text-dark bg-opacity-25 fs-4 fw-bold text-center">SOLICITUD DE MANTENIMIENTO</h1>
            <div class="container-fluid mt-4">
                <div class="row mx-auto mt-3">
                    <div class="container-fluid col-lg-6 col-md-12 col-sm-12 col-xs-12 my-2 py-0">   
                        <div class="card">
                        <div class="card-header fs-6 fw-bold text-center my-0 bg-danger bg-gradient text-light">DATOS DE USUARIO</div>
                        <div class="car-body">
                            <div class="container-fluid my-3">
                                
                                <div class="row">
                                    <div class="container-fluid">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="input-group ">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <span class="input-group-text" id="NOMBRE">NOMBRE</span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="NOMBRE" aria-label="NOMBRE" aria-describedby="NOMBRE">
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                            <div class="input-group ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <span class="input-group-text" id="T DE PROPIEDAD">T DE PROPIEDAD</span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="T DE PROPIEDAD" aria-label="T DE PROPIEDAD" aria-describedby="T DE PROPIEDAD">
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="input-group ">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <span class="input-group-text" id="N DE MARCO">N DE MARCO</span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="N DE MARCO" aria-label="N DE MARCO" aria-describedby="N DE MARCO">
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="input-group ">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <span class="input-group-text" id="MARCA DE LA BICI">MARCA DE LA BICI</span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="MARCA DE LA BICI" aria-label="MARCA DE LA BICI" aria-describedby="MARCA DE LA BICI">
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="input-group ">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <span class="input-group-text" id="TIPO DE BICI">TIPO DE BICI</span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <input type="text" class="form-control" placeholder="TIPO DE BICI" aria-label="TIPO DE BICI" aria-describedby="TIPO DE BICI">
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <!-- <div class="col-6">
                                                
                                            <li class="list-group-item">NOMBRE</li>
                                            </div>
                                            <div class="col-6">
                                            <li class="list-group-item">NOMBRE(código js)</li>    
                                            </div>
                                        </ul>
                                        </div>
                                        <div class="row">
                                        <ul class="list-group list-group-horizontal">
                                            <div class="col-6">
                                            <li class="list-group-item">T DE PROPIEDAD</li>
                                            </div>
                                            <div class="col-6">
                                            <li class="list-group-item">T PROPIEDAD(código js)</li>  
                                            </div>                              
                                        </ul>
                                        </div>
                                        
                                        <div class="row">
                                        <ul class="list-group list-group-horizontal">
                                            <div class="col-6">
                                            <li class="list-group-item">N DE MARCO</li>
                                            </div>
                                            <div class="col-6">
                                            <li class="list-group-item">N DE MARCO(código js)</li>  
                                            </div>
                                    
                                        </ul>
                                        </div>
                                        <div class="row">
                                        <ul class="list-group list-group-horizontal">
                                            <div class="col-6">
                                            <li class="list-group-item">MARCA DE LA BICI</li>
                                            </div>
                                            <div class="col-6">
                                            <li class="list-group-item">MARCA DE LA BICI(código js)</li>  
                                            </div>
                                    
                                        </ul>
                                        </div>
                                        <div class="row"> -->
                                        <!-- <ul class="list-group list-group-horizontal">
                                            <div class="col-6">
                                            <li class="list-group-item">TIPO DE BICI</li>
                                            </div>
                                            <div class="col-6">
                                            <li class="list-group-item">TIPO DE BICI(código js)</li>  
                                            </div> -->
                                    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div> 
                    <div class="container-fluid col-lg-6 col-md-12 col-sm-12 col-xs-12 my-2 py-0">
                    <div class="row">
                        <div class="container-fluid">
                        <div class="card">
                            
                            <div class="card-header fs-6 fw-bold text-center my-0 bg-primary bg-gradient text-light">REQUERIMIENTO</div>
                            <div class="car-body">
                                <div class="container-fluid my-3">
                                    
                                    <div class="row">
                                    
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="input-group ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <span class="input-group-text" id="NOMBRE">FECHA</span>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" placeholder="FECHA" aria-label="FECHA" aria-describedby="FECHA">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="input-group ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <span class="input-group-text" id="NOMBRE">HORA</span>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" placeholder="HORA" aria-label="HORA" aria-describedby="HORA">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="input-group ">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <span class="input-group-text" id="NOMBRE">T MANTENIMIENTO</span>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" placeholder="T MANTENIMIENTO" aria-label="T MANTENIMIENTO" aria-describedby="T MANTENIMIENTO">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                </div>    
                            <!-- <div class="car-body container-fluid">
                                <div class="container-fluid my-3">
                                    <div class="row">
                                    
                                    <ul class="list-group list-group-horizontal">
                                        <li>
                                        <div class="col-6">
                                        <li class="list-group-item"> fecha</li>
                                        </div>
                                        <div class="col-6">
                                        <li class="list-group-item">fecha(código js)</li>    
                                        </div>
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="row">
                                    <ul class="list-group list-group-horizontal">
                                        <div class="col-6">
                                        <li class="list-group-item"> hora</li>
                                        </div>
                                        <div class="col-6">
                                        <li class="list-group-item">hora(código js)</li>  
                                        </div>                              
                                    </ul>
                                    </div>
                                    
                                    <div class="row">
                                    <ul class="list-group list-group-horizontal">
                                        <div class="col-6">
                                        <li class="list-group-item"> Tipo de Mantenimiento</li>
                                        </div>
                                        <div class="col-6">
                                        <li class="list-group-item">Tipo de Mant(código js)</li>  
                                        </div>
                                
                                    </ul>
                                    </div>
                                </div>
                            </div> -->
                            </div>
                        
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid my-3">
                        <div class="card">                        
                                <div class="car-body">
                                    <h1 class="fs-6 fw-bold text-center my-0 bg-primary bg-gradient text-light" for="mensaje">INFORMACIÓN ADICIONAL</h1>
                                    <textarea class="form-control" id="mensaje" rows="2" placeholder="Observaciones o recomendaciones  entregadas por el usuario para ser tenidas en cuenta por el técnico."></textarea>
                                </div>
                        </div>
                        </div>
                    </div>
                    </div>                         
                </div>
            </div>

        <br>
            <h1 class="bg-success p-2 text-dark bg-opacity-25 fs-4 fw-bold text-center">RESOLUCIÓN DE LA SOLICITUD</h1>
            <div class="container-fluid mt-4">
                <div class="row mx-auto mt-3">
                    <div class="container-fluid col-lg-6 col-md-12 col-sm-12 col-xs-12 my-2 py-0">   
                        <div class="card">
                        <div class="car-body">
                            <h1 class="fs-6 fw-bold text-center my-0 bg-danger bg-gradient text-light" for="mensaje">OBSERVACIONES DEL TECNICO</h1>
                            <textarea class="form-control" id="mensaje" rows="3" placeholder="Observaciones o recomendaciones  entregadas por el técnico."></textarea>
                        </div>        
                        </div>
                    </div>
                    <div class="container-fluid col-lg-6 col-md-12 col-sm-12 col-xs-12 my-2 py-0">   
                        <div class="card">
                            <div class="row">                                
                                    <div class="card">
                                        <div class="container-fluid my-3 text-center">
                                        <div class="car-body"> 
                                            <h1 class="fs-6 fw-bold text-center my-0 bg-danger bg-gradient text-light" for="mensaje">OBSERVACIONES DEL TECNICO</h1>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                                                        
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ENPRECESO" value="ENPROCESO">
                                                        <label class="form-check-label" for="ENPROCESO">EN PROCESO</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="TERMINADO" value="TERMINADO">
                                                        <label class="form-check-label" for="TERMINADO">TERMINADO</label>
                                                    </div>
                                                

                                                </li>
                                                                                        
                                            </ul>
                                        </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="container-fluid text-center fs-6">
                                    <input class="bg-primary text-light fw-bold" type="submit" value="ACTUALIZAR">
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>    
        </form>
    </div>
</div>