<!-- <nav>
<link rel="stylesheet" href="../css/estilos.css">
    <div>
    <ul>
       <li> <a href="../pages/paginaPrincipal.html" target="_parent">Página principal</a></li>
       <li> <a href="../pages/inicioSesionUsuario.html" target="_parent">Iniciar sesión usuario</a></li> 
       <li> <a href="../pages/registroUsuario.html" target="_parent">Registrarse usuario</a></li> 
       <li> <a href="../pages/agendarCita.html" target="_parent">Agendar mantenimiento</a></li>
       <li> <a href="../pages/inicioSesionTecnico.html" target="_parent">Iniciar sesion tecnico</a></li>
       <li> <a href="../pages/registroTecnico.html" target="_parent">Registro para Tecnico</a></li>
       <li> <a href="../pages/citasTecnico.html" target="_parent">Mantenimientos para realizar</a></li>
    </ul>
    </div>
</nav> -->

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<nav class="navbar navbar-light p-10" id="menu">
    <div class="container container-fluid">
      <button class="navbar-toggler d-inline-block align-text-top" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
         <img src="/imagenes/html5.png" alt="logo de TSDB" width="50">
      </button>
      
      <div class="d-grid gap-2 d-md-flex justify-content-end"> 
        <a class="btn fw-bold" href="../pages/inicioSesionUsuario.html" role="button" id="iniciousuario">Inicia Sesión</a>
        <a class="btn " href="../pages/registroUsuario.html" role="button" id="creacuenta">Crea tu Cuenta</a>
      </div>
    </div>
            
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" >
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenido</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3" id=navsinoffcanvas>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Equipo Técnico </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="../pages/inicioSesionTecnico.html">Inicia Sesión</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="../pages/registroTecnico.html">Crea tu Cuenta</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agenda </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="../pages/inicioSesionTecnico.html">elementos de agenda</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="../pages/registroTecnico.html">elementos de agenda</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="../pages/inicioSesionTecnico.html">poner servicios</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="../pages/registroTecnico.html">poner servicios</a></li>
            </ul>
          </li>
            <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctanos</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Equipo
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Inicia Sesión</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Crea tu Cuenta</a></li>
            </ul>
          </li>
                        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>-->
        </ul>
          
      </div>
    </div>
  </nav> -->